@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply font-body bg-vault text-glacier leading-[1.75];
  }
}

@layer utilities {
  .click-pop {
    @apply active:scale-[0.97] transition-transform duration-150 ease-out;
  }
}
